@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d1224;
  overflow-x: hidden;
}
div#radix-\:R3d7\: {
  background: #0d1224;
  border: none;
}

button.absolute.right-4.top-4.rounded-sm.opacity-70.ring-offset-white.transition-opacity.hover\:opacity-100.focus\:outline-none.focus\:ring-2.focus\:ring-zinc-950.focus\:ring-offset-2.disabled\:pointer-events-none.data-\[state\=open\]\:bg-zinc-100.dark\:ring-offset-zinc-950.dark\:focus\:ring-zinc-300.dark\:data-\[state\=open\]\:bg-zinc-800 {
  background: #ffffff;
}

.flex.flex-col.gap-4.mt-8 a {
  color: #ffffff;
}

.banner {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.164) 10%,
      rgb(0, 0, 0) 95%
    ),
    url("../../public/images/Banner-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding: 80px 0;
}

#team {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/images/teambg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
